body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #FFF;
}

.container-fluid {
  margin: 3rem 0;
}

/*< Header >*/

.header-top {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-bottom: .5rem;
}

.image-logo img {
  max-width: 100%;
  border: 0;
  width: 60px;
  border-radius: 50%;
  margin-top: 1.3rem;
}

.title {
  font-family: 'Odibee Sans', cursive;
  font-weight: 400;
  font-size: 3.2rem;
}

/*</ Header >*/

/* < Form > */

.form-horizontal {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-top: .5rem;

  margin-bottom: .5rem;
  padding-bottom: .5rem;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.control-label {
  margin-left: 1rem;
  margin-top: 1rem;
  padding-right: 2.3rem;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#robotUrlEntry {
  height: 3.3rem;
  padding-left: .9rem;
}

#connectButton {
  width: 10rem;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;

  letter-spacing: .15rem;
}

/* </ Form > */


/* <Buttons Move> */

.icon-mic {
  text-align:center;
  margin-bottom: 1rem;
}

.container-fluid {
  max-width: 30.6rem;
  margin: 0 auto;
}

.icon__move svg {
  width: 6rem;
  height: 6rem;

  cursor: pointer;
}

.icon__move .press.on {
  background: greenyellow;
  border-radius: 15%;
}

.arrow-down {
  transform: rotate(180deg);
}

.btn-side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn-center {
  justify-content: center;
  align-items: center;
  display: flex;
}

.mic-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: lightgray;
  cursor: pointer;
}

/* </Buttons Move> */

.btn-speed {
  margin: 3rem auto;
  display: table;
}

.speed-info{
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  font-style: oblique;
  margin-bottom: 0.1rem;
}

#btn-speed-increase,
#btn-speed-decrease {
  width: 4rem;
  font-size: 2rem;
  font-weight: 800;
}

#speed-value {
  width: 10rem;
  height: 3.5rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.btn-stop {
  width: 500px;
  margin: 2rem auto;
}

#results {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  min-height: 100px;
}

